@model EFBanco.Models.Cliente

@{
    ViewData["Title"] = "IntroducirDinero";
}

<h1>IntroducirDinero</h1>
<h4>@Model.Nombre @Model.Apellido</h4>
<br />
<h5>Balance Actual: @Model.Balance</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Clientes" asp-action="IntroducirDinero">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Nombre" />
            <input type="hidden" asp-for="Apellido" />
            <input type="hidden" asp-for="Iban" />
            <input type="hidden" asp-for="Balance" />
            <input type="hidden" asp-for="SucursalId" />
            <input type="text" name="ingreso" placeholder="ingreso" />
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
